h1 {
    color: blue;
}
#head2 {
    color: green;
}
.wasae {
    color: orange;
}
#what {
    border: 2px;
    border-style: solid;
    border-color: red;
    padding: 20px;
}
#nav {
    border: 3px solid purple;
    padding: 15px;
    background-color: lightgray;
    text-align: center;
}
#nav a{
    color: red;
    padding: 10px;
    text-decoration: none;
}
#nav a:hover {
    background-color: yellow;
    color: aqua;
}
body {
    padding: 0px;
}
.card{
    border: 2px solid black;
    width: 300px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 50px;
}
.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 48px;
    border-top-right-radius: 48px;
}
