h1 {
    color: blue;
}
#head2 {
    color: green;
}
.wasae {
    color: orange;
}
#what {
    border: 2px;
    border-style: solid;
    border-color: red;
    padding: 20px;
}
#nav {
    border: 3px solid purple;
    padding: 15px;
    background-color: lightgray;
    text-align: center;
}
#nav a{
    color: red;
    padding: 10px;
    text-decoration: none;
}
#nav a:hover {
    background-color: yellow;
    color: aqua;
}
body {
    padding: 0px;
}